* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}
html {
	height: 100%;
}
body {
	/* Making the body take whole page */
	position:absolute; top:0; bottom:0; right:0; left:0;
	height: 100%;

	/* The text */
	color: aliceblue;
	font-family: 'Lato', sans-serif;
}

/* all the special cases in which my font colour is needed */
prosto {
	color: #5af95a;
}
/* all the special cases in which my secondaty font colour is needed */
sidekick {
	color: #00f4ff;
}

#main {
	display: flex;
	flex-direction: row;

	height: 100%;
}

#contents {
	/* Vignette colour */
	background: radial-gradient(circle, transparent 50%, black 200%), rgb(26, 34, 36);
	width: 100%;
	height: 100%;
}
#contents > iframe {
	width: 100%;
	height: 98%;
}

#navbar {
	display: grid;
	grid-auto-rows: minmax(30px, 18%);
	grid-template-columns: repeat(1, 1fr) repeat(1, 3fr);

	gap: 10px;
	padding-top: 1rem;
	
	animation: navbar-animation-out 0.8s forwards;
}
#navbar:hover {
	animation: navbar-animation-in 0.8s forwards;
}

#navbar > div > hiddn {
	display: none;
}
#navbar:hover > div > hiddn {
	display: inline;
	padding-top: 10px;
}
#navbar > div > * {
	font-size: 20px;
}
#navbar > div > p {
	padding-left: 10px;
}
#navbar > div > img {
	padding-left: 10px;
	font-weight: 600;
}
@media only screen and (max-width: 600px) {
	/* Make the text smaller on mobile devices */
	#navbar > div > * {
		font-size: 16px;
	}
	#navbar > div > p {
		padding-left: 15px;
		font-size: 20px;
	}
	#navbar > div > img {
		padding-left: 20px;
		font-weight: 600;
	}
	#navbar:hover > div:contains-selector(hiddn) {
		padding-right: 15px;
		padding-left: 55px;
	}
}


@keyframes navbar-animation-in {
	from {
		width: 4rem;
		background: linear-gradient(to right, rgb(0, 30, 47) 90%, black 100%);
	}
	to {
		width: 16rem;
		background: linear-gradient(to right, rgb(0, 30, 47) 96%, black 100%);
	}
}
@keyframes navbar-animation-out {
	from {
		width: 16rem;
		background: linear-gradient(to right, rgb(0, 30, 47) 96%, black 100%);
	}
	to {
		width: 4rem;
		background: linear-gradient(to right, rgb(0, 30, 47) 90%, black 100%);
	}
}


a:link,a:visited {
	color: #00f4ff;
	text-decoration: none;
}
a:hover,a:active {
	color: #5af95a;
	text-decoration: none;
}
/* 
* {
	border: 1px solid white;
} */